*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #626262;
}

.cabecalho{
    width: 100%;
    height: 180px;
    background-color: #767676;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela{
    padding: 20px;
    width: 80%;
    height: 120px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultado{
    color: antiquewhite;
    font-size: xx-large;
}

.corpo1{
    width: 100%;
    height: 200px;
    background-color: #4B4B4B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.corpo2{
    width: 100%;
    height: 200px;
    background-color: #4B4B4B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.demonstracao{
    color:aliceblue;
}

.botoes{
    width: 180px;
    height: 140px;
    font-size: x-large;
}